@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
/*font-family: 'Dancing Script', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/**font-family: 'Great Vibes', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*font-family: 'Raleway', sans-serif;*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Header general*/
header {
  display: flex;
  justify-content: center;
  background-color: #BFB0B0;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}
header .logo {
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  text-align: center;
  padding-block: 0.5rem;
}
header .logo a {
  text-decoration: none;
  color: #F2F2F2;
}
header .logo a img {
  height: 70px;
  padding-right: 20px;
}
header .barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
header .barra li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}
header .barra li a {
  text-decoration: none;
  color: #F2F2F2;
}
header .barra li a:hover {
  color: #AB5F6A;
}
header .hamburguesa {
  display: none;
}

/*Final de header general*/
/*Footer general de todas las páginas*/
footer {
  background-color: #BFB0B0;
  color: #F2F2F2;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  padding: 15px;
  text-align: center;
}
footer .redes a {
  font-size: 35px;
  letter-spacing: 10px;
  color: #f2f2f2;
  text-decoration: none;
}

/*Fin del footer general*/
/*Flecha arriba*/
.subir {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 35px;
  color: #AB5F6A;
}

/*Fin flecha arriba*/
/*Main servivios*/
main {
  font-family: "Raleway", sans-serif;
  background-color: #F2F2F2;
}
main .general {
  background-image: url(../fotos/brain-73974122.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-inline: 8%;
  padding-top: 27%;
  width: 100%;
}
main .general .cuerpo {
  background-color: #F2DCE0;
  border-radius: 15px;
  padding-inline: 2rem;
  padding-block: 1rem;
}
main .general .cuerpo h2 {
  font-size: 50px;
  font-weight: 600;
  color: #AB5F6A;
  text-align: center;
}
main .general .cuerpo h3 {
  font-size: 30px;
  font-weight: 600;
  color: #AB5F6A;
}
main .general .cuerpo p {
  font-size: 17px;
}
main .general .cuerpo ul {
  font-size: 17px;
}
main .general .cuerpo ul i {
  padding-right: 0.5rem;
}
main .especifico {
  padding-inline: 10rem;
  padding-block: 1rem;
  text-align: justify;
}
main .especifico h3 {
  font-size: 33px;
  font-weight: 600;
  color: #AB5F6A;
  text-align: center;
}
main .especifico .descrip {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  padding-inline: 2rem;
}
main .especifico .descrip img {
  width: 30vw;
  height: auto;
  padding-inline: 2rem;
}
main .especifico .descrip p {
  font-size: 20px;
}
main .especifico .descrip1 {
  display: flex;
  flex-direction: row;
}
main .especifico .descrip1 .minides {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .especifico .descrip1 .minides p {
  padding-inline: 2rem;
  font-size: 20px;
}

/*fin main servicios*/
/*Main aranceles*/
.aranceles {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
}
.aranceles .portada {
  background-image: url(../fotos/communication-1991849_19201.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-inline: 8%;
  padding-top: 27%;
  width: 100%;
}
.aranceles .portada .cuerpo {
  background-color: #F2DCE0;
  border-radius: 15px;
  padding-inline: 2rem;
  padding-block: 1rem;
}
.aranceles .portada .cuerpo h1 {
  font-size: 50px;
  font-weight: 600;
  color: #AB5F6A;
  text-align: center;
}
.aranceles .portada .cuerpo h2 {
  font-size: 30px;
  font-weight: 600;
  color: #AB5F6A;
}
.aranceles .portada .cuerpo p {
  font-size: 17px;
}
.aranceles .portada .cuerpo ul {
  font-size: 17px;
}
.aranceles .portada .cuerpo ul li {
  list-style: none;
}
.aranceles .portada .cuerpo ul i {
  padding-right: 0.5rem;
}

/*Fin de main aranceles*/
/*Main de contacto*/
.contacto {
  background-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
  padding-inline: 3rem;
  padding-block: 3rem;
}
.contacto h2 {
  font-size: 70px;
  color: #AB5F6A;
  font-family: "Dancing Script", cursive;
  padding-bottom: 1rem;
}
.contacto section {
  display: flex;
  gap: 3rem;
}
.contacto section p {
  font-size: 20px;
  font-weight: 400;
}
.contacto section .info-cont {
  gap: 2rem;
}
.contacto section .info-cont i {
  font-size: 35px;
  color: #AB5F6A;
}
.contacto section .info-cont h3 {
  color: #AB5F6A;
  font-size: 25px;
  font-weight: 600;
}
.contacto section .info-cont h4 {
  font-size: 20px;
  font-weight: 550;
}
.contacto section .info-cont p {
  font-size: 18px;
}
.contacto section .form {
  display: flex;
  font-size: 20px;
  font-weight: 550;
}
.contacto section .form .btn {
  background: #CDA2A9;
  color: #F2F2F2;
  font-weight: 500;
}
.contacto .mapas {
  padding-block: 2rem;
  width: 100%;
  display: inline-block;
}
.contacto .mapas .mapa {
  height: 350px;
}
.contacto .mapas .mapa p {
  font-size: 30px;
  color: #AB5F6A;
  font-weight: 550;
}
.contacto .mapas .mapa iframe {
  height: 250px;
}

/*Fin de main contacto*/
/*Main de contacto enviado*/
.msg-env {
  background-color: #BFB0B0;
  font-family: "Raleway", sans-serif;
  height: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg-env .msg-tarj {
  background-color: #F2F2F2;
  width: 35%;
  text-align: center;
  border-radius: 15px;
  padding-block: 1rem;
}
.msg-env .msg-tarj h1 {
  color: #AB5F6A;
  font-weight: 900;
}
.msg-env .msg-tarj p {
  font-size: 20px;
}
.msg-env .msg-tarj a {
  background-color: #AB5F6A;
  text-decoration: none;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  color: #F2F2F2;
  border-radius: 5px;
}

/*Fin main de contacto enviado*/
/*Media queries*/
@media screen and (max-width: 980px) {
  /*headear*/
  header .barra {
    font-size: 25px;
  }
  /*Fin de header*/
  /*Main aranceles*/
  .general .cuerpo h2 {
    font-size: 40px;
  }
  .general .cuerpo h3 {
    font-size: 20px;
  }
  .general .cuerpo p {
    font-size: 17px;
  }
  .general .cuerpo ul {
    font-size: 17px;
  }
  /*Fin de main aranceles*/
  /*Main aranceles*/
  .aranceles .portada .cuerpo h1 {
    font-size: 40px;
  }
  .aranceles .portada .cuerpo h2 {
    font-size: 20px;
  }
  .aranceles .portada .cuerpo p {
    font-size: 17px;
  }
  .aranceles .portada .cuerpo ul {
    font-size: 17px;
  }
  /*Fin de main aranceles*/
  /*Contacto*/
  .contacto section {
    display: flex;
    flex-direction: column;
  }
  /*fin de contacto*/
}
@media screen and (max-width: 850px) {
  /*headear*/
  header .barra {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  /*Menu hamburguesa*/
  header .encabezado {
    display: none;
  }
  header .hamburguesa {
    display: flex;
    height: 80px;
  }
  header .hamburguesa .navbar {
    background-color: #BFB0B0;
    width: 100vw;
    font-family: "Raleway", sans-serif;
  }
  header .hamburguesa .navbar .navbar-brand {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    text-align: center;
    padding-block: 0.5rem;
    color: #F2F2F2;
  }
  header .hamburguesa .navbar .navbar {
    background-color: #BFB0B0;
  }
  header .hamburguesa .navbar .offcanvas {
    background-color: #BFB0B0;
  }
  header .hamburguesa .navbar .offcanvas .offcanvas-title {
    color: #AB5F6A;
    font-size: 30px;
    font-weight: 600;
  }
  header .hamburguesa .navbar .offcanvas .nav-link {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
  }
  /*Fin de menú hamburguesa*/
  /*main de aranceles*/
  .general .cuerpo h1 {
    font-size: 25px;
  }
  .general .cuerpo h2 {
    font-size: 20px;
  }
  /*fin de main de aranceles*/
  /*main de aranceles*/
  .aranceles .portada .cuerpo h1 {
    font-size: 25px;
  }
  .aranceles .portada .cuerpo h2 {
    font-size: 20px;
  }
  /*fin de main de aranceles*/
  /*main de Contacto*/
  .contacto h2 {
    font-size: 50px;
  }
  .contacto section p {
    font-size: 17px;
    font-weight: 400;
  }
  .contacto section .info-cont i {
    font-size: 30px;
    color: #AB5F6A;
  }
  .contacto section .info-cont h3 {
    color: #AB5F6A;
    font-size: 23px;
    font-weight: 600;
  }
  .contacto section .info-cont h4 {
    font-size: 17px;
    font-weight: 550;
  }
  .contacto section .info-cont p {
    font-size: 16px;
  }
  .contacto section form {
    font-size: 18px;
  }
  /*fin de main de contacto*/
}/*# sourceMappingURL=estilos.css.map */